@import 'fonts';
@import 'vars';
@import 'global';

.header__top {
	background-color: #eef1f3;

	&-inner {
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&-btn {
		font-size: 14px;
		line-height: 28px;
		padding: 5px 30px 5px 18px;
	}
}


.header__menu-inner {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__list {
	display: flex;
	justify-content: space-between;

	li+li {
		margin-left: 30px;
	}

	a {
		text-transform: uppercase;
		color: #333333;
		font-size: 15px;
		font-weight: 500;
		position: relative;

		&::after {
			display: block;
			content: "";
			background-color: $blue-btn;
			height: 2px;
			width: 0%;
			left: 50%;
			position: absolute;
			transition: width .3s ease-in-out;
			transform: translateX(-50%);
		}

		&:hover::after,
		&:focus::after {
			width: 100%;
		}
	}

}

.header__form {
	max-width: 360px;
	width: 100%;
	position: relative;

	input {
		display: block;
		width: 100%;
		border-radius: 40px;
		outline: none;
		height: 46px;
		border: 1px solid #d9dfe5;
		padding-left: 25px;
		padding-right: 90px;

		&::placeholder {
			color: #898f96;
			font-size: 15px;
		}
	}

	button {
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		background-color: $blue-btn;
		height: 46px;
		width: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 40px;
		outline: none;

		&:hover {
			background-color: #1d6dc2;

		}

		&:active {
			background-color: #185494;
		}
	}
}

.search {
	max-height: 725px;
	position: relative;

	&__inner {
		text-align: center;
		color: #f3f3f8;
		padding: 185px 0 235px 0;
	}

	&__title {
		font-size: 60px;
		line-height: 70px;

		span {
			display: block;
			font-weight: 700;
		}
	}

	&__subtitle {
		font-size: 20px;
		line-height: 72px;
		margin-bottom: 65px;
	}
}

.search__btn-general {
	border-radius: 40px;
	padding: 20px 38px;
}

.search__btn-white {
	background-color: #fff;
	color: $blue-btn;
}

.search__btn-trans {
	border: 1px solid #fff;
	color: #fff;
	margin-left: 30px;
}

.search__block {
	height: 135px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	border-radius: 6px;
	height: 135px;
	width: 100%;

	&-first {
		max-width: 1110px;
		bottom: -54px;
		background-color: rgba(255, 255, 255, .5);
	}

	&-second {
		max-width: 1080px;
		bottom: -41px;
		background-color: rgba(255, 255, 255, .5);
	}

	&-main {
		max-width: 1140px;
		background-color: #fff;
		bottom: -67px;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
		padding: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.saerch__form {
	max-width: 807px;
	width: 100%;
	position: relative;


	input {
		width: 100%;
		outline: none;
		height: 56px;
		display: block;
		padding-left: 25px;
		padding-right: 210px;
		border-radius: 5px;
		border: 1px solid #dcdcdc;

		&::placeholder {
			color: #676767;
		}

	}

	.saerch__form-categories {
		position: absolute;
		top: 0;
		right: 0;
		color: #676767;
		width: 195px;
		height: 100%;
		padding-left: 20px;
		border: 1px solid #dcdcdc;
		border-radius: 0 5px 5px 0;
		outline: none;
		cursor: pointer;
		appearance: none;
		padding-right: 15px;
		background-image: url('../images/icons/chevron-down.png');
		background-repeat: no-repeat;
		background-position: 150px 24px;

		option {
			padding: 55px;
			text-transform: capitalize;
		}
	}

	&-btn {
		border-radius: 5px;
		color: #fff;
		padding: 13px 70px;
	}
}


.advantage__inner {
	padding: 185px 0 120px 0;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.advantage__item {
	width: 360px;
	padding: 40px 30px;
	transition: all .5s ease;

	&-img {
		margin-bottom: 40px;
	}

	&-title {
		font-size: 24px;
		margin-bottom: 35px;
	}

	&:hover {
		border-radius: 4px;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
	}
}

.featured {
	background-color: #eff1f5;

	&__inner {
		padding: 120px 0;
	}

	&__btn {
		width: 110px;
		height: 45px;
		background-color: #7347c1;
		border-radius: 40px;
		position: relative;
	}
}

.slick-prev,
.slick-next {
	border: none;
	position: absolute;
	top: -115px;
	outline: none;
	width: 20px;
	height: 20px;
	background-color: transparent;
	transition: all .5s ease;
	cursor: pointer;

	&:hover {
		transform: scale(1.2);
	}
}

.slick-next {
	right: 55px;
}

.slick-prev {
	right: 105px;
}


.slider__item-inner {
	display: flex;
	background-color: #fff;
	border-radius: 5px;
	max-height: 450px;
}

.slider__item-content {
	padding: 50px 60px 0 50px;
}

.slider__item-title {
	color: #000000;
	font-size: 24px;
	margin-bottom: 20px;
}

.slider__item-user {
	display: flex;
}

.slider__author {
	display: flex;
	max-width: 110px;
	width: 100%;
	justify-content: space-between;
	margin-right: 20px;
	align-items: center;
}

.slider__author-photo {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	img {
		width: 100%;
	}
}

.slider__author-name {
	color: #000;
	font-size: 15px;
}

.slider__item-cms {
	font-size: 15px;
	color: #7347c1;
	padding-left: 25px;
	position: relative;

	&::before {
		content: "";
		background-image: url('../images/icons/wp.png');
		color: #7347c1;
		width: 16px;
		height: 16px;
		position: absolute;
		left: 0;
		top: 7px;
	}
}

.slider__item-text {
	margin-bottom: 35px;
	max-height: 130px;
	overflow: hidden;
}

.slider__item-tags {
	font-size: 15px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 45px;
	margin-bottom: 20px;

	a {
		color: #868c96;
		background-color: #f1f3f6;
		padding: 0 15px;
		border-radius: 25px;

		&+a {
			margin-left: 8px;
		}
	}
}

.slider__item-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	color: #555555;
}

.slider__item-info {
	display: flex;
}

.slider__item-price {
	background-color: $blue-btn;
	color: #fff;
	padding: 0 20px;
	border-radius: 25px;
	margin-right: 20px;
}

.slider__item-likes {
	padding-left: 25px;
	margin-right: 20px;
	position: relative;

	span {
		color: #7347c1;
		position: absolute;
		left: 0;
		top: 7px;
	}
}

.slider__item-card {
	padding-left: 25px;
	position: relative;
	color: $blue-btn;

	span {
		position: absolute;
		left: 0;
		top: 7px;
	}
}


.newest {
	background-color: #f6f7fb;
}

.newest__inner {
	padding: 125px 0;
}

.newest__filtr {
	color: #747b86;
	font-size: 16px;
	padding-right: 30px;
	position: relative;
	cursor: pointer;

	&::before {
		content: "";
		background-image: url('../images/icons/dotts.png');
		background-repeat: no-repeat;
		position: absolute;
		right: 0;
		top: 6px;
		width: 5px;
		height: 100%;
	}
}

.newest__inner-btn {
	background-color: #fff;
	min-height: 90px;
	display: flex;
	align-items: center;
	box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
	padding: 0 30px;
	margin-bottom: 30px;

	button {
		border: none;
		color: #868c96;
		background-color: #f1f3f6;
		padding: 0 15px;
		border-radius: 25px;
		font-size: 15px;
		line-height: 30px;
		cursor: pointer;
		outline: none;

		&+button {
			margin-left: 5px;
		}

		&.active {
			color: #fff;
			background-color: $blue-btn;
		}
	}
}

.newest__inner-box {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 60px;
	margin-left: -30px;
}

.newest__item {
	max-width: 361px;
	background-color: #fff;
	margin-bottom: 30px;
	flex-basis: calc(33.333% - 30px);
	max-width: 100%;
	margin-left: 30px;

	.slider__item-bottom {
		min-height: 60px;
		display: flex;
		align-items: center;
		padding: 0 30px;


		.newest__item-bottom {
			flex-basis: 60px;
		}

		.slider__item-price {
			background-color: #e6f1fd;
			color: $blue-btn;

		}

		.slider__item-card {
			flex-grow: 1;
			text-align: right;
			position: relative;

			span {
				position: absolute;
				right: 35px;
			}
		}
	}



}




.newest__item-img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 230px;
	width: 100%;
	position: relative;
}

.newest__mask {
	background: linear-gradient(to right, #684fbb, #0577e2);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px 5px 0 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	opacity: 0;
	transition: all .3s ease;


	a {
		color: #fff;
		font-size: 15px;
		border: 1px solid #fff;
		margin: 5px;
		padding: 7px;
		width: 130px;
		text-align: center;
		font-weight: 500;
		border-radius: 25px;
		transition: all .3s ease;

		&:hover {
			background-color: #fff;
			color: $blue-btn;
		}
	}
}

.newest__item-img:hover {
	.newest__mask {
		height: 100%;
		height: 230px;
		opacity: 1;
	}
}

.newest__content {
	border-bottom: 1px solid #ececec;
}

.newest__content-wrapper {

	box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
	padding: 30px 30px 15px;

	.slider__item-title {
		font-size: 20px;
	}

	.slider__author {
		line-height: 15px;
		max-width: 135px;
	}

	.slider__author-photo {
		margin-right: 5px;
	}
}


.newest__btn {
	font-size: 16px;
	color: #fff;
	background-color: $blue-btn;
	padding: 22px;
	width: 190px;
	display: block;
	margin: 0 auto;
	border-radius: 50px;
	text-align: center;
	font-weight: 500;
	border: none;
	outline: none;
	cursor: pointer;
}


.followers {
	background-color: #eff1f5;

	&__inner {
		padding: 120px 0;
	}

	.slider__item-likes {
		margin-right: 0;
	}

}

.followers__title {
	margin-bottom: 50px;

	.featured__btn {
		background-color: $blue-btn;
	}

}

.followers__slider {

	.newest__item {
		max-width: 361px;
		width: 100%;
		margin-left: 0;
	}

	.slick-slide+.slick-slide {
		margin-left: 41px;
	}
}


//start statistic

.statistic {
	background-color: #212225;

	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 95px 0;
	}

	&__item {
		text-align: center;
	}

	&__images {
		margin-bottom: 35px;
	}

	&__sum {
		font-size: 36px;
		margin-bottom: 15px;
	}

	.brief {
		color: #feb71d;
	}

	.cloud {
		color: #58c9e9;
	}

	.smile {
		color: #77de51;
	}

	.users {
		color: #ff6a6d;
	}

	&__text {
		color: #fff;
		font-size: 18px;
	}
}

//end statistic

//start choose

.choose {
	&__inner {
		padding: 120px 0;
	}

	&__subtitle {
		width: 665px;
		margin: 0 auto;
		text-align: center;
		font-size: 16px;
		line-height: 30px;
		color: #555555;
		margin-bottom: 60px;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		counter-reset: section;
	}

	&__item {
		max-width: 361px;
		width: 100%;
		text-align: center;
		padding: 55px 30px;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		margin-bottom: 30px;
		position: relative;

		&::before {
			counter-increment: section;
			content: "0"counter(section);
			position: absolute;
			top: 25px;
			left: 20px;
			font-size: 48px;
			color: rgba(#5c87f8, .2);
		}
	}

	.lnr-license {
		color: #0674ec;
	}

	.lnr-magic-wand {
		color: #7f4ec2;
	}

	.lnr-lock {
		color: #77de51;
	}

	.lnr-chart-bars {
		color: #feb71d;
	}

	.lnr-leaf {
		color: #58c9e9;
	}

	.lnr-phone {
		color: #ff6a6d;
	}
}

.choose__item-img {
	font-size: 60px;
	margin-bottom: 45px;
}

.choose__item-title {
	color: #000;
	font-size: 24px;
	margin-bottom: 25px;
}

.choose__item-text {
	font-size: 16px;
	line-height: 30px;
	color: #555;
}

//end choose
//start sale-box

.sale-box {
	&__inner {
		display: flex;
		max-width: 1920px;
		height: 561px;
		margin: 0 auto;
	}

	&__inner-item {
		text-align: center;
		color: #fff;
		padding: 100px 190px;

		img {
			margin-bottom: 50px;
		}
	}

	&__inner-sell {
		background-image: url('../images/content/BGsel1.png');
	}

	&__inner-start {
		background-image: url('../images/content/BGsel2.png');
	}

	&__inner-title {
		font-size: 36px;
		margin-bottom: 35px;
	}

	&__inner-text {
		font-size: 15px;
		line-height: 30px;
		margin-bottom: 45px;
	}

	&__btn {
		color: #fff;
		font-size: 16px;
		border: 1px solid #fff;
		padding: 12px 10px;
		width: 190px;
		text-align: center;
		font-weight: 500;
		border-radius: 50px;
		transition: all .3s ease;

		&:hover {
			background-color: #fff;
			color: $blue-btn;
		}
	}
}


//end sale-box
//start feedback
.feedback {
	&__inner {
		padding: 120px 0;
		color: #555;
		font-size: 16px;
	}

	&__slider-item {
		max-width: 562px;
		border-left: 2px solid $blue-btn;
		padding: 50px 40px;
		max-height: 320px;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
	}

	&__user {
		display: flex;
		align-items: center;
		margin-bottom: 30px;

		span {
			color: #e8e8e8;
			font-size: 60px;
			flex-grow: 1;
			text-align: right;
		}
	}

	&__user-photo {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 20px;

		img {
			object-fit: cover;
			max-width: 100%;
			min-height: 100%;
		}
	}

	&__user-info {
		max-width: 230px;
		line-height: 20px;
	}

	&__user-name {
		font-size: 20px;
		color: #000;
		margin-bottom: 8px;
	}

	.slick-list .draggable {
		padding: 0 50px;
	}

	.slick-track {
		min-height: 340px;
		display: flex;
		align-items: center;
	}

	.slick-slide+.slick-slide {
		margin-left: 35px;
	}

	.feedback__slider {
		position: relative;
		margin-bottom: 60px;

		.slick-prev,
		.slick-next {
			position: absolute;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.08);
			top: 145px;
			z-index: 5;
			opacity: 0;
			transition: all .3 ease;
		}

		.slick-prev {
			left: -24px;
		}

		.slick-next {
			right: -17px;
		}

		&:hover {

			.slick-prev,
			.slick-next {
				opacity: 1;
			}
		}
	}

	&__btn {
		color: #fff;
		font-size: 16px;
		border: 1px solid #fff;
		padding: 12px 10px;
		width: 190px;
		margin: 0 auto;
		text-align: center;
		font-weight: 500;
		border-radius: 50px;
		transition: all .3s ease;
		background-color: $blue-btn;
		display: block;
	}

}

//end feedback
//start news
.news {
	background-color: #eff1f5;

	&__inner {
		padding: 120px 0;
	}

	&__box {
		display: flex;
		justify-content: space-between;

		.newest__content-wrapper {
			padding: 30px;
		}

		.slider__item-title {
			font-weight: 700;
			margin-bottom: 30px;
		}

		.slider__item-text {
			margin: 0;
		}

		.newest__item {
			margin: 0;
		}

		.news__item-bottom {
			padding: 10px 30px;
			display: flex;

			.news-info__item {
				flex-basis: 50%;

				&+.news-info__item {
					border-left: 1px solid #ececec;
				}
			}

			.news-info__active {
				display: flex;
			}

			.news-info__comment,
			.news-info__saw,
			.news-info__date {
				font-size: 15px;
				color: #999999;

				span {
					margin-right: 6px;
					font-size: 15px;
				}
			}

			.news-info__date {
				span {
					color: $blue-btn;
				}
			}

			.news-info__comment,
			.news-info__saw,
				{
				margin-left: 25px;
			}
		}
	}
}


//end news
//start support

.support__inner {
	display: flex;
	justify-content: center;
	text-align: center;

	img {
		margin-bottom: 30px;
	}

	.support__inner-text {
		font-size: 24px;
		color: #000;

		span {
			color: $blue-btn;
		}
	}

	.support__inner-guarantee {
		padding: 60px 0;
		padding-right: 135px;

	}

	.support__inner-support {
		padding: 60px 0;
		padding-left: 135px;
		border-left: 1px solid #e8eaf3;

		span {
			color: #7347c1;
		}
	}
}

//end support
//start join
.join {
	background: linear-gradient(to right, #671e90, #0c37da);

	&__inner {
		padding: 110px 0;
		text-align: center;
	}

	&__title {
		font-size: 36px;
		color: #fff;
		margin-bottom: 20px;
	}

	&__subtitle {
		font-size: 18px;
		color: #e7e7e7;
		margin-bottom: 50px;
	}

	&__btn {
		color: $blue-btn;
		font-size: 16px;
		padding: 12px 10px;
		width: 190px;
		margin: 0 auto;
		text-align: center;
		font-weight: 500;
		border-radius: 50px;
		background-color: #fff;
		display: block;
		transition: all .3s ease;

		&:hover {
			background-color: $blue-btn;
			color: #fff;
		}
	}
}


//end join
//start footer
.footer {
	background-color: #262b30;
	&__inner {
		padding: 115px 0;
		display: flex;
		justify-content: space-between;
		color: #ababab;
		font-size: 15px;
	}
	&__contacts {
		max-width: 265px;
		margin-right: 75px;
		.logo {
			margin-bottom: 15px;
		}
		.footer__contacts-text {
			margin-bottom: 25px;
		}
		a {
			text-decoration: none;
			color: #ababab;
			font-size: 15px;
			padding-left: 30px;
			margin-bottom: 15px;
			line-height: 26px;
			position: relative;
			span {
				position: absolute;
				left: 0;
				font-size: 16px;
				top: 5px;
			}
		}

		.footer__contacts-location {
			padding-left: 30px;
			line-height: 25px;
			position: relative;
			span {
				position: absolute;
				left: 0;
				font-size: 16px;
				top: 15px;
			}
		}
	}

	&__title {
		font-size: 18px;
		color: #fff;
		line-height: 42px;
		margin-bottom: 23px;
	}
}

.footer__company,
.footer__support {
	max-width: 140px;
	width: 100%;
	margin-right: 120px;
	li {
			margin-bottom: 10px;
		a {
			text-decoration: none;
			font-size: 15px;
			color: #ababab;
			line-height: 18px;
		}
	}
}

.footer__support {
	margin-right: 60px;
}

.footer__newsletter {
	.footer__newsletter-text {
		margin-bottom: 35px;
	}
	form {
		position: relative;
		margin-bottom: 48px;
		input {
			min-height: 50px;
			display: block;
			max-width: 100%;
			width: 100%;
			border-radius: 50px;
			border: none;
			padding-left: 30px;
			padding-right: 120px;
			outline: none;
			&::placeholder {
				font-size: 15px;
				color: #ababab;
			}
		}

		button {
			border: none;
			background-color: $blue-btn;
			color: #fff;
			height: 50px;
			padding: 0 30px;
			border-radius: 50px;
			outline: none;
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
		}
	}
}

.footer__social {
	.footer__social-list {
		li {
			display: inline-block;
			
			&+li {
				margin-left: 10px;
			}

			a {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				i {
					color: #fff;
				}
			}
		}
		.footer__social-facebook {
			background-color: #395799;
		}

		.footer__social-twitter {
			background-color: #19b2f5;
		}

		.footer__social-google {
			background-color: #f05b44;
		}

		.footer__social-pinterest {
			background-color: #9c0c1c;
		}

		.footer__social-linked {
			background-color: #0da6be;
		}

		.footer__social-ball {
			background-color: #ea4c89;
		}
	}

}




.footer__copyright {
	background-color: #192027;
	.footer__copyright-text {
		text-align: center;
		padding: 30px 0;
		font-size: 15px;
		color: #999999;
		span {
			color: #fff;
		}
	}
}

//end footer